<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>PLog</string>
    <key>CFBundleIdentifier</key>
    <string>com.nghiabui.PLog</string>
    <key>CFBundleShortVersionString</key>
    <string>9.2</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.12</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>NSHumanReadableCopyright</key>
    <string>Nghia Bui 2012-2020</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
  </dict>
</plist>
